@page "/LookingForCompany"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.VisualBasic
@using StockApp.Shared
@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager navigationManager
@using StockApp.Shared.Models
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Layouts

@if(Data.Count == 0)
{
     <p><em>Loading newest data. It may take few minutes...</em></p>
} else
{
    <SfDashboardLayout>
        <DashboardLayoutPanels>
            <DashboardLayoutPanel>
                <HeaderTemplate><div><h1>DASHBOARD</h1></div></HeaderTemplate>
                <ContentTemplate>
                    <div class="col-lg-12 control-section">
                        <div class="control-wrapper">
                         <label class="example-label">Select a company and click "enter" button</label>
                            <SfAutoComplete TValue="string" TItem="RowData" CssClass="template" Placeholder="e.g. TSLA" DataSource="@Data" PopupHeight="400px" PopupWidth="250px" Highlight=true @bind-Value="chosen.ShortName" @onchange="(()=>onAction(chosen.ShortName))">
                                <AutoCompleteTemplates TItem="RowData">
                                    <ItemTemplate>
                                         <div>
                                            <img class="empImage" src="@((context as RowData).URL)" alt="employee" />
                                            <div class="ename"> @((context as RowData).ShortName) </div>
                                            <div class="job"> @((context as RowData).Name) </div>
                                         </div>
                                    </ItemTemplate>
                                    <HeaderTemplate>
                                        <div class="header"> <span>Photo</span> <span class="info">Company Info</span></div>
                                    </HeaderTemplate>
                                </AutoCompleteTemplates>
                            <AutoCompleteFieldSettings Value="ShortName"/>
                        </SfAutoComplete>
                        </div>
                    </div>
                </ContentTemplate>
            </DashboardLayoutPanel>
        </DashboardLayoutPanels>
        </SfDashboardLayout>}


@code {
    Type models = typeof(RowData);
    RowData chosen = new RowData();
    public class EmployeeData
    {
        public string FirstName { get; set; }
        public string Designation { get; set; }
        public string Eimg { get; set; }
    }

    static List<RowData> Data = new List<RowData>();

    protected override async Task OnInitializedAsync()
    {
        if (Data.Count == 0)
        {
            try
            {
                Data = await Http.GetFromJsonAsync<List<RowData>>("WeatherForecast");
            }
            catch (AccessTokenNotAvailableException exception)
            {
                exception.Redirect();
            }
        }
    }

    void onAction(string SName)
    {
         navigationManager.NavigateTo($"/LookingForCompany/{SName}");
    }

}
<style>
    .control-wrapper {
        max-width: 400px;
        margin: 0 auto;
        padding: 100px 0px 0px;
    }
    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }
    .header {
        font-weight: 600;
        color: rgba(0, 0, 0, .54);
        height: 48px;
        padding: 15px 0 0 16px;
        font-size: 16px;
        background-color: #f5f5f5;
        font-family: "Segoe UI", "GeezaPro", "DejaVu Serif";
    }
    .fluent-dark .header {
        background: #252423;
        color: #2899F5;
     }
     .bootstrap5-dark .header {
        background: #343A40;
        color: #7B848D;
     }
     .fluent .header{
         color: #2899F5;
     }
    .fabric .header {
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        color: #0078d7;
        font-weight: 400;
    }
    .bootstrap .header {
        background-color: #f5f5f5;
        border-bottom: 1px solid #ccc;
        color: #777;
        font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
        font-weight: 600;
        font-size: 15px;
        height: 48px;
        padding: 15px 0 0 16px;
    }
    .e-bigger.bootstrap .header {
        height: 44px;
        font-size: 13px;
    }
    .highcontrast .header {
        color: #fff;
        background-color: #000;
    }
    .bootstrap4 .header {
        color: #6c757d;
    }
    .bootstrap .info,
    .e-bigger.bootstrap .info {
        margin-left: 25px;
    }
    .bootstrap .job {
        opacity: .54;
        font-size: 14px;
        margin-top: -25px;
        margin-bottom: 20px;
    }
    .e-bigger.bootstrap .job {
        font-size: 15px;
        margin-top: -18px;
        margin-bottom: 17px;
    }
    .bootstrap .ename {
        font-size: 15px;
        margin-top: 20px;
        opacity: .87;
        padding: 3px 0 20px;
    }
    .e-bigger.bootstrap .ename {
        font-size: 16px;
        padding-bottom: 15px;
        line-height: 1.063em;
    }
    .bootstrap .empImage,
    .e-bigger.bootstrap .empImage {
        margin: 0px 10px 0 20px;
    }
    .bootstrap .value {
        margin-top: 3px;
        margin-left: 3px;
    }
    .e-bigger.bootstrap .value {
        margin-top: 5px;
        margin-left: 5px;
    }
    .bootstrap .name {
        padding: 9px 42px;
    }
    .e-bigger.bootstrap .name {
        padding: 12px 42px;
    }
    .info {
        margin-left: 34px;
    }
    .ename {
        display: block !important;
        opacity: .87;
        font-size: 16px;
        margin-top: 8px;
    }
    .name {
        padding: 5px 42px;
        opacity: .87;
        line-height: 1.063em;
    }
    .job {
        opacity: .54;
        font-size: 14px;
        margin-top: -15px;
        margin-bottom: 7px;
    }
    .bootstrap5 .template.e-popup .job,
    .bootstrap-dark .template.e-popup .job,
    .bootstrap5-dark .template.e-popup .job,
    .tailwind .template.e-popup .job,
    .tailwind-dark .template.e-popup .job {
        margin-top: 0;
    }
    .e-bigger.bootstrap5 .template.e-popup .job,
    .e-bigger.bootstrap-dark .template.e-popup .job,
    .e-bigger.bootstrap5-dark .template.e-popup .job,
    .e-bigger.tailwind .template.e-popup .job,
    .e-bigger.tailwind-dark .template.e-popup .job {
        margin-top: -15px;
    }
    .empImage {
        margin: 6px 16px;
        float: left;
        width: 50px;
        height: 50px;
    }
    .value {
        border-radius: 50%;
        float: left;
        margin-top: 2px;
        margin-left: 2px;
    }
    .e-bigger:not(.bootstrap) .value {
        margin-top: 7px;
    }
    .e-bigger:not(.bootstrap) .name {
        padding: 11px 42px;
    }
    .template.e-popup .e-list-item * {
        display: block;
        text-indent: 0;
    }
    .e-bigger:not(.bootstrap) .template .e-dropdownbase .e-list-item {
        line-height: 42px;
        height: 80px;
    }
    .e-bigger:not(.bootstrap) .template.e-popup .empImage {
        margin: 10px 16px;
    }
    .bootstrap4 .template.e-popup .empImage {
        margin: 0px 16px;
    }
    .bootstrap4 .template.e-popup .job {
        margin-top: 0;
    }
    .e-bigger.bootstrap4 .template.e-popup .job {
        margin-top: -15px;
    }
    .template .e-dropdownbase.e-content {
        max-height: 200px !important;
    }
</style>
